# ============================================================================
# VARIABLES DE ENTORNO PARA CARM RANK
# ============================================================================

# Base de datos
DATABASE_URL=postgresql://usuario:password@localhost:5432/database?schema=schema
DIRECT_URL=postgresql://usuario:password@localhost:5432/database?schema=schema

# ============================================================================
# CONFIGURACIÓN DE OAUTH CON GOOGLE
# ============================================================================

# Google OAuth 2.0
GOOGLE_CLIENT_ID=mi_client_id
GOOGLE_CLIENT_SECRET=mi_client_secret

# NextAuth
NEXTAUTH_URL=https://localhost
NEXTAUTH_SECRET=tu_nextauth_secret_aqui_muy_largo_y_seguro

# Puerto del servidor
PORT=3000

# OWNER DATA
OWNER_EMAIL=myemail@gmail.com
OWNER_NAME=My name

# Keep-alive
DB_KEEP_ALIVE_INTERVAL=60000  # 1 min, suficiente para evitar que se enfríen las conexiones

#Blob storage
CARM_BLOB_READ_WRITE_TOKEN=vercel_blob_token